body{
  line-height: 1.9rem;
}


h1{
  font-size: clamp(28px, 3vw, 32px);
}

p{
  font-family: var(--default-font);
  margin-top: 1rem;
  font-size: clamp(14px, 2vw, 20px);
}

figcaption{
  font-size: 1rem;
  font: italic smaller sans-serif;
}

body{
  height: 100%;
  width: 100vw;

  padding: 2rem;
  
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

/* logo */
.logo img{
  height: 5rem;  
}


/* main navigation */
.navbar-main{
  position: relative;
  padding: 0.5rem;
  min-width: 10rem;
}

.navbar-main .menu {
 position: absolute;
 width: 100%;

 text-align: center;
 margin-top: 3rem;
 
 transform: translateY(-250%);
 -webkit-transform: translateY(-250%);
 -moz-transform: translateY(-250%);
 -ms-transform: translateY(-250%);
 -o-transform: translateY(-250%);

 transition: all 0.5s ease-in-out;
 -webkit-transition: all 0.5s ease-in-out;
 -moz-transition: all 0.5s ease-in-out;
 -ms-transition: all 0.5s ease-in-out;
 -o-transition: all 0.5s ease-in-out;
}

.navbar-main .menu > li{
  list-style: none;

  border-radius: 5px;
  
  padding: 0.5rem;
  margin: 0.3rem;
}


.navbar-mainbar-main .menu li:active{
  background-color: rgb(10, 6, 6);
}

.navbar-main .menu > *{
  background-color: var(--btn-faded-color)
}

.navbar-main .menu li:nth-child(4){
  background-color: var(--btn-special);
}

.navbar-main .menu li:nth-child(4) a{
  color: rgb(255, 255, 255);
}

.navbar-main .menu li a{
  text-decoration: none;
}


/* hamburger */
.navbar-main .hamburger{
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 30px;
  height: 20px;
}


.navbar-main .toggle{
  position:absolute;
  top: 0;
  right: 0;
  z-index: 1;
  
  width: 20px;
  height: 20px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 1;
}




.navbar-main .hamburger .line{
  position: relative;
  
  width: 100%;
  height: 2px;
  
  background-color: black;
 
  transition: all 1s ease;
}

/* move both line up */
.navbar-main .hamburger .line:before,
.navbar-main .hamburger .line:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: -8px;
  
  background: inherit;
}

/* move third line to bottom */
.navbar-main .hamburger .line:after{
  top: 8px;
}


/* order is important for this to work */
/* animate */
.navbar-main .toggle:checked ~ .hamburger .line {
  transform: rotate(135deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

/* turn line to X */
.navbar-main .toggle:checked ~ .hamburger .line:before, 
.navbar-main .toggle:checked ~ .hamburger .line:after {
  top: 0;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.navbar-main .toggle:checked ~ .menu{
  position: static;
  
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}



/* <-- Header / hero--> */
header .img-wrapper{
 margin-top: 1rem;
 margin-bottom: 1rem;
 position: relative;
}


header .img-wrapper img{
 width: 100%;
}

header .img-wrapper .header-text{
  position: absolute;
  display: flex;
  flex-direction: column;

  top: 1.5rem;
  left: 2rem;
  color: rgb(255, 254, 254);
}

header .img-wrapper .header-text div:nth-child(2){
  margin-top: 2rem;
}

header .img-wrapper .header-text h1{
  font-family: var(--header-primary-font);
}

.img-wrapper .header-text p{
  margin: 0;
}



/* Using flex only for reponsiveness */
/* cards */
.cards {
  padding: 1rem 0;
}

.cards h2{
  background-color: var(--highligth);
  padding: 0.2rem 0.5rem;
}

.cards .cards-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards .cards-wrapper .card{
  background-color: var(--background-color-card);
  
  min-width: 150px;
  max-width: 80%;
  margin: 0.8rem 0;
  
  box-shadow: 0 0 5px rgb(167, 167, 236);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  
  overflow: hidden;
}

.cards .cards-wrapper .card img{
  width: 100%
}

.cards .cards-wrapper .card div {
  display: flex;
  justify-content: center;
} 

.cards .cards-wrapper .card div .btn{
  background-color: var(--btn-background-color);
  
  padding: 0.2rem 1.5rem;
  margin: 0.5rem 0;

  border:1px solid rgb(143, 144, 145);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


.cards .cards-wrapper .card div .btn a{
  text-decoration: none;
  color: var(--btn-font-color);
}


/* ************** */
/* Gallery section*/
/* Using grid with*/
/* no media query */
/* ************** */
.gallery h2{
  text-align: center;
  font-family: var(--header-primary-font);
  font-size: clamp(2rem, 2vw, 4rem);
}

.gallery .container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 22rem));
  justify-content: center;
}

.gallery .container .item{
  min-width: 100%;
  min-height: 20rem;
  margin: 0.5rem;
}

.gallery .container .item img{
  width: 100%;
  height: 20rem;

  object-fit: cover;
  object-position: center;
}

.gallery .container .item figcaption{
  min-width: 5ch;
  
  text-align: center;
  font-size: clamp(14px, 2vw, 18px);
  
  background-color: rgb(170, 219, 241);
}





/* social media links */
.social-media{
  
  display: flex;
  justify-content: space-evenly;
  
  margin-top: 0.5rem;
  padding: 0.3rem 0;
  
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.links{
  margin: 1rem 0;
  padding: 0.5rem 0;
  border-top: 2px solid;
  border-bottom: 2px solid;
}


.links ul li {
  list-style: none;
  margin-top: 0.5rem;
}

.links ul li a {
  font-size: clamp(14px, 2vw, 16px);
  text-decoration: none;
  color: var(--btn-special);
}

/* Social links */
.social-media{
  display: block;
  text-align: center;
}

.social-media div {
  display: inline;
 font-size: 2rem;
}



/* Footer */
footer{
  text-align: center;
  margin: 1rem 0;
  padding: 0.3rem 0;
}